@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Upright', serif;
    height: 100vh;
    background-color: #0C0C0C;
    overflow-x: hidden;

}

header {
    width: 100%;
    height: 121px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 32px;
}

.navbar-logo h1 {
    font-size: 40px;
    color: #ffff;
}

.nav-item {
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    line-height: 28px;
    margin: 0 10px;
}

.nav-right a {
    font-weight: 600;
}

/*Hamburger menü CSS */
.hamburger-menu>div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.mobile-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.hamburger-menu {
    position: absolute;
    right: 1rem;
    padding: 10px 15px;
    z-index: 1200;

}

.btn-mobile {
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    border: 0;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100%;
    z-index: 999;
    padding: 10px 15px;
    height: 400px;
}

.mobile-items {
    margin: 10px 0;
}

.mobile-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 0px;
}

.hide {
    display: none;
}


@media(max-width:900px) {
    .nav-header {
        display: none;
    }
}

@media(min-width:900px) {
    .mobile-nav {
        display: none;
    }
}


/*Swiper */
.swiper {
    width: 90vw;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Slider CSSleri */
.swiper-pagination-progressbar {
    background-color: transparent;
}

.swiper-pagination-progressbar-fill {
    background-color: #DCCA87 !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #DCCA87 !important;
}

.slider-header {
    color: #DCCA87;
    font-size: 70px;
    width: 70%;
}

.content-slider {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slider-white {
    color: white;
    text-align: left;
    font-size: 25px;
    padding-bottom: 3rem;
}
.nav-item:hover{
    text-decoration: underline;
    transition: 1s;
    color: #DCCA87;
}
i:hover{
    transition: 1s;
    color: #DCCA87;
}

/*Anasayfa */
.wrapper {
    width: 100vw;
    margin: 2rem auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
}

.counter-header {
    font-weight: 500;
    font-size: 64px;
    color: #DCCA87;
    letter-spacing: 0.1em;
}

/*Üçüncü Section CSSleri */
.about-us {
    background-image: url("/assets/image/background.png");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.us-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15rem;
}

.about-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.about-p2 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.about-header {
    font-size: 64px;
    color: #DCCA87;
    font-weight: 600;
    line-height: 83px;
}

.know-more {
    width: 141px;
    height: 44px;
    text-align: center;
    background-color: #DCCA87;
    color: #0C0C0C;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 550;
}

.know-more2 {
    width: 141px;
    height: 44px;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    background-color: #DCCA87;
    color: #0C0C0C;
}

.restaurant-top {
    margin-top: 10rem;
}

.restaurant-bottom {
    margin-bottom: 10rem;
}

/*4. Section CSS */


.hero-believe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.believe-area {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    align-items: center;
    text-align: center;
    position: relative;
}

.believe-img img {
    width: 80%;
}

.header-believe {
    margin-bottom: 2rem;
    font-size: 64px;
    font-weight: 600;
    color: #DCCA87;
}

.sub {
    width: 500px;
    font-size: 25px;
    color: #AAAAAA;
    text-align: left;
}

.chef {
    color: #DCCA87;
    font-size: 32px;
}


.chef-small {
    color: #ffff;
    font-size: 20px;
}

.chef-believe {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    right: 10rem;
    top: 5rem;
}

/*5. SECTİON*/
.customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 7.5rem;
}

.customers img {
    width: 100%;
}

.happy-customers {
    font-size: 64px;
    color: #DCCA87;
    margin-bottom: 5rem;
}

.customer-p {
    color: #DCCA87;
    font-size: 35px;
    font-weight: 600;
}
.image-2{
    border: 5px solid #DCCA87;
    margin: 15px 0;
}

.comment-customer {
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

.customer-padding {
    padding: 15px;
}

/*Update section cssleri*/

.updates-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-1 {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex-basis: 450px;
}

.image-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 24px;
}

.card-image {
    width: 100%;
}

.image-subcontent {
    color: white;
}

.card-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.subheader-card {
    margin-bottom: 32px;
}

.header-card h1 {
    font-size: 32px;
    color: #DCCA87;
    text-decoration: underline;
    text-align: left;
    line-height: 41.6px;
}

.headercard-sub p {
    text-align: left;
    font-size: 16px;
    color: #AAAAAA;
    line-height: 28px;
}

.more {
    position: absolute;
}

.read-more {
    color: #DCCA87;
    line-height: 28px;
}

.read-more:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;
}

.customers img {
    width: 60%;
    border: 10px solid #DCCA87;
    border-radius: 100%;
}

/*Footer üst kısmı */
.our-newsletter {
    width: 100%;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.letter-container {
    width: 100%;
    height: 355px;
    background-color: #0C0C0C;
    position: absolute;
    border: 1px solid white;
    z-index: 2;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.for-news {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2rem;
}

.letter-header {
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #DCCA87;
    margin-top: 3rem;
}

.email {
    width: 400px;
    height: 44px;
    background: transparent;
    border: 1px solid #F5EFDB;
    color: white;
    margin-right: 10px;
}

.subscribe-btn {
    width: 129px;
    height: 44px;
    background-color: #DCCA87;
    color: #000000;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: 600;
}


/*Footer area */
.footer-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
}

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-contact {
    font-size: 32px;
    color: #F5EFDB;
    line-height: 41.6px;
    font-weight: 400;
}

.info-contact p {
    font-size: 16px;
    line-height: 28px;
    color: #AAAAAA;
}

.tel-p {
    font-size: 16px;
    line-height: 28px;
    color: #AAAAAA;
}

.hours {
    font-size: 16px;
    color: #AAAAAA;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.info-brand {
    font-size: 25px;
    color: white;
    margin: 0 8rem;
}

.social-icons {
    padding-top: 1rem;
}

.fa-brands {
    padding: 0 5px;
}

.date-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#year {
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
}

.rights-reserved {
    color: #AAAAAA;
    font-size: 16px;
    padding-left: 3px;
    text-align: center;
}

/*Popup */
.popupThanks {
    display: block;
    position: absolute;
    z-index: 999;
    width: 450px;
    height: 300px;
    background-color: black;
    border: 2px solid #DCCA87;
}

.popup-header {
    font-size: 40px;
    color: #DCCA87;
    padding-top: 2rem;
}

.popup-p {
    font-size: 20px;
    color: #DCCA87;
    padding-top: 1rem;
}

.close-popup {
    color: white;
    position: relative;
    left: 13rem;
    top: 0.2rem;
}

.hide-popup {
    display: none;
}

.navbar-logo:hover {
    cursor: pointer;
}


/*Mobil CSS */

@media (max-width:900px) {
    .about-us {
        height: auto;
        background-image: none !important;
    }

    .us-content {
        padding-top: 0;
    }

    .slider-header {
        font-size: 20px;
        width: 100%;
    }

    .text-slider {
        padding: 0 2px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size)/ 40 * 18);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }

    .slider-white {
        font-size: 15px;
        padding-bottom: 2rem;
    }

    .wrapper {
        margin: 0 auto;
        z-index: 0;
    }

    .counter {
        margin-top: 0 !important;
    }

    .counter-header {
        font-size: 35px;
    }

    .counter-header {
        font-size: 35px;
    }

    .us-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-1,
    .about-2 {
        padding: 0;
    }

    .about-header {
        font-size: 45px;
    }

    /*4. SECTİON */
    .hero-believe {
        display: flex;
        flex-direction: column;
    }

    .sub {
        width: 100%;
        padding-left: 1rem;
    }

    .happy-customers {
        margin-bottom: 0;
    }

    /*5. SECTİON */
    .customers {
        display: flex;
        flex-direction: column;
    }

    .customers img {
        width: 100%;
    }

    .updates-cards {
        display: flex;
        flex-direction: column;
    }

    .header-card h1 {
        font-size: 20px;
    }

    .headercard-sub p {
        font-size: 12px;
    }

    .customer-review {
        margin-top: 0 !important;
    }

    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .contact-column {
        margin-bottom: 2rem;
    }

    .our-brand {
        margin-bottom: 1rem;
    }

    .social-icons {
        padding-top: 2rem;
    }

    .footer-area {
        margin-bottom: 1rem;
        margin-top: 8rem !important;
    }

    .email {
        width: 100%;
    }

    .subscribe {
        margin-top: 1rem;
        padding: 0px 20px;
    }

    .info-brand {
        font-size: 16px;
        color: white;
        margin: 0 4rem;
    }

    .popupThanks {
        width: 350px;
    }

    .close-popup {
        color: white;
        position: relative;
        left: 10rem;
        top: 0.2rem;
    }

    .card-1 {
        display: flex;
        flex-direction: column;
        margin: 0 12px;
        flex-basis: 450px;
        padding: 5px;
    }
    h1{
        font-size: 40px !important;
    }
    .restaurant-bottom{
        margin-bottom: 5rem;
    }
    .restaurant-top{
        margin-top: 5rem;
    }


}


.know-more,
.know-more2,
i,
button {
    cursor: pointer;
}